<h1>{{ title }}</h1>
<p>welcome to {{ title }}</p>

{{# if condition }}
    contition is met
{{ else }}
    condition not met
{{/if}}

{{# each anyArray as |val key|}}
    {{key}}: {{val}},
{{/each}}

<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">submit</button>
</form>