<!DOCTYPE HTML>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body>
    {{{ body }}}
  </body>

</html>

